@font-face {
  font-family: Vexa;
  src: url('../assets/fonts/Vexa.woff2');
}
@font-face {
  font-family: Musket;
  src: url('../assets/fonts/Musket.woff2');
}

body {
  margin: 0;
  font-family: Vexa, Arial;
  background: #f4f6ff;
}

.app {
  max
